<section class="page-header">
  <div id="project-box">
   <div class="project-icon"><img src="images/Galene-icon-70px.png"> </div>
   <h1 class="project-name">{{ site.title }}</h1>
  </div>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://storage.googleapis.com/flimfit-downloads/galene/Galene-1.0.0-win64.exe" class="btn"><i class="fa fa-windows"></i> Download for Windows</a>
  <a href="https://storage.googleapis.com/flimfit-downloads/galene/Galene%201.0.0.dmg" class="btn"><i class="fa fa-apple"></i> Download for macOS</a>
  <a href="http://www.github.com/flimfit/Galene" class="btn"> <i class="fa fa-github"></i> View on Github</a>
  <a href="http://galene.readthedocs.io/" class="btn"> <i class="fa fa-book"></i> Documentation</a>
</section>